<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div style="float:left">
            <a href="{{ path ('app_shop') }}">Shop</a> |
            <a href="{{ path ('app_products') }}">Edit Products</a> |
            <a href="{{ path ('app_product_category') }}">Categories (TODO)</a>
            <a href="{{ path ('app_users') }}">Users</a>
        </div>
        <div style="float:right">
            {% if app.user %}
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                You are NOT logged in, you can <a href="{{ path('app_login') }}">Login</a> or  <a href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </div>

        <hr style="clear:both">
        {% block body %}{% endblock %}
    </body>
</html>
